<% if (showmodal) { %>
<div id="myModal">
  <!-- Modal content -->
  <div class="modal-content d-flex">
    <a href="/"><span class="close align-self-end">x</span></a>
    <h4 id="thanks-message"></h4>
    <p><%= modalMessage %></p>
  </div>
</div>
<% } %>
