<div class="d-flex justify-content-start align-items-center" id="top-banner">
  <div id="pfp-container" class="my-3 mx-5">
    <img
      src="/imgs/pfp.png"
      alt="photo de profil"
      id="pfp"
      class="rounded-circle"
    />
  </div>
  <div class="flex-column m-3 align-self-center" id="header-title">
    <div id="name">
      <h1 class="fs-2">Julien GIL</h1>
    </div>
    <div class="catchphrase fs-6 fst-italic">
      <p>Un développeur de qualité, pas comme son CV</p>
    </div>
  </div>
  <div class="ms-auto px-5 bd-highlight">
    <a href="/docs/CV_Julien_GIL.pdf" target="_blank" rel="noopener noreferrer"
      ><i class="fa-solid fa-download fs-2 m-5" id="dl-button"></i
    ></a>
  </div>
</div>
