<section id="about" class="mx-5 px-5">
  <h3>À propos</h3>
  <p class="container mt-3 fst-italic">
    Developpeur back-end consciencieux, j'ai plus de 5 ans d'experience dans des
    domaines divers.
    <br />J'aime découvrir de nouvelles technologies et j'ai la réelle volonté
    d'apporter du sens dans mon métier. Aussi travailler pour une entreprise à
    vocation sociale, humanitaire ou environnementale serait pour moi une
    véritable plus-value. Ayant récemment développé une appétance pour le
    mobile, je me suis tourné vers l'apprentissage de Flutter en autodidacte.
  </p>
</section>
