<section id="skills" class="mx-5 px-5">
  <h3>Compétences</h3>
  <ul class="mt-3">
    <li>Développement Back-end (Java, Node.js, RxJs, C#, PHP)</li>
    <li>Développement Front-end (HTML5, CSS3, JavaScript, Bootstrap)</li>
    <li>Base de données (MySQL, MongoDB, PostgreSQL)</li>
    <li>Développement mobile (Flutter, Android, Swift)</li>
  </ul>
</section>
